.queue-page {
  --nav-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: var(--nav-height);

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
  }

  .left-column {
    min-width: 2rem;

    display: flex;
    flex: 1 0 auto;
  }

  .right-column {
    width: 8rem;

    display: flex;
    flex: 1 0 auto;

    .queue-card {
      background: rgb(32, 27, 27);
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 0.5rem 1rem;
    }
  }
}